<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="refresh" content="3; url=http://localhost:8080/mainPage"></meta>
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>
<body>
    <div class="container">
        <div class="page-header text-center">
            <h1 th:text="'Upsss, coś poszło nie tak...'"></h1>
            <p class="alert alert-danger" th:if="${error != null}" th:text="${error}"></p>
        </div>
    </div>
</body>
</html>
